@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: "ONE-Mobile-POP", sans-serif;
  font-weight: 500;
  font-style: normal;
  background: #221b82 !important;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background: #221b82 !important;
  }
}
#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h1,
h2 {
  font-family: "ONE-Mobile-POP", sans-serif;
  font-weight: 500;
  font-style: normal;
}
a {
  color: #ffa600;
}
.description p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 0.8rem;
  color: #ffffff; /* adjust as needed */
}

#fh5co-header {
  height: auto !important;
  flex: 1 0 auto; /* 헤더가 가변적으로 늘어나고 footer는 하단 고정됨 */
}
#fh5co-footer {
  flex-shrink: 0;
  position: relative;
  overflow: hidden; /* 넘치는 이미지 잘라내기 */
  background-color: #0c092d; /* 필요 시 배경색 */
}

#fh5co-footer .overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1; /* 필요 시 조절 */
  z-index: 1;
  pointer-events: none;
}

#fh5co-footer .container {
  position: relative;
  z-index: 2;
}
#fh5co-footer h1,
#fh5co-footer p,
#fh5co-footer small {
  -webkit-text-stroke: 1px black; /* WebKit 브라우저에서 테두리 효과 */
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black; /* 크로스브라우징용 테두리 효과 */
}
