<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="footer-content col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h4 class="font-weight-bold">Contact</h5>
                    <p class="contacts">
                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;
                        <a href="mailto://incognito.conference@gmail.com">incognito.conference@gmail.com</a>
                        <br>
                        <i class="fa fa-facebook-square"></i>&nbsp;&nbsp;&nbsp;
                        <a href="https://fb.com/incognitocon">fb.com/incognitocon</a>
                    </p>
            </div>

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright © 2020 INCOGNITO
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->